.footer-section
  flex none
  padding 25px 0
  margin-bottom -25px
  z-index 10
  line-height 1.25
  position relative
  p
    margin 0
    max-width none
  .social
    float right
    margin-right -10px
  .icon-mouse
    color $blue-1
    font-size 76px
    line-height 1
    display inline-block
    vertical-align top
    margin-top -58px
    pointer-events none

  @media (min-width $screen-sm-min)
    padding 50px 0
    margin-bottom -50px