.container-fluid
  padding-left 20px
  padding-right 20px
  &_none-padding
    padding 0 !important

  @media (min-width $screen-sm-min)
    padding-left 0
    padding-right 0
    width percentage(($screen-sm-min - 204)/$screen-sm-min)

  @media (min-width $screen-md-min)
    width percentage(($screen-md-min - 430)/$screen-md-min)
    max-width 1170px